
  body { 
    font-family: Arial, sans-serif; 
    background-color: #f2f2f2; 
} 
.container { 
    width: 80%; 
    margin: 0 auto; 
} 

.header { 
    background-color: #858585; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
} 

.header h1 { 
    margin: 0; 
} 

.section { 
    background-color: #fff; 
    padding: 20px; 
    margin-top: 20px; 
    box-shadow: 2px 2px 2px #ccc; 
} 

.section h2 { 
    margin: 0; 
} 

.section p { 
    margin-top: 10px; 
    line-height: 1.5; 
} 

.section img { 
    width: 100%; 
    max-width: 300px; 
    margin-top: 20px; 
    border-radius: 10px; 
} 

.section a { 
    text-decoration: none; 
    color: #281a9e; 
} 

.section a:hover { 
    text-decoration: underline; 
} 

.contact { 
    background-color: #2c0d74; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    margin-top: 20px; 
} 

.contact a { 
    color: #fff; 
    text-decoration: none; 
} 

.contact a:hover { 
    text-decoration: underline; 
}

.section {
    background-color: #f5f5f5; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaçamento externo */
    }
    
    h2 {
    color: #333; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    }
    
    form {
    display: flex; /* Organizar os elementos em linha */
    flex-wrap: wrap; /* Quebrar elementos para a próxima linha se necessário */
    justify-content: center; /* Centralizar os elementos */
    }
    
    label {
    width: 100%; /* Ocupar toda a largura do container */
    margin-bottom: 10px; /* Espaçamento entre os elementos /
    text-align: left; /* Alinhamento do texto */
    }
    
    input[type="text"], input[type="email"], textarea {
    width: 100%; /* Ocupar toda a largura do container */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Estilo da borda */
    }
    
    input[type="submit"] {
    background-color: #4CAF50; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 12px 20px; /* Espaçamento interno */
    border: none; /* Remover borda */
 
    }
    
    input[type="submit"]:hover {
    background-color: #3e8e41; /* Cor de fundo ao passar o mouse */
    }